.block {
  height: 50px;
  width: 50px;
  display: inline-block;
  background: red;
  line-height: 0;
  font-size: 0;
  transition: all .5s linear;

}

.way{
  background: white;
}

.wall {
  background: black;;
}

.person{
  background: red;
}

.App {
  margin: 60px auto;
  width: 700px;
}

.score{
  color: #fff;
  background: #000;
  padding: 20px;
}